.cars-index-container {
  height: 95vh;
  width: 95vw;
}

.left-info-panel {
  width: 25em;
  margin-right: 2em;
  background-color: #f9f7f5;
}

.garage-info {
  padding: 0 2em;
  h3 {
    text-align: center;
  }
}

.car-list {
  width: 100%;
  padding-right: 20px;
}
